.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 1);
  color: rgba(235, 76, 107, 1);
  width: (1, 440px);
  height: 32px;
  padding: 8px 274px 8px 274px;
}

.header-staring-mobie {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 20px;
}

.header-staring {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 20px;
}

.header-heading {
  font-weight: 400;
  line-height: 14.4px;
  letter-spacing: 1px;
  text-align: left;
}

.header-icon {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 768px) {
  .header-container {
    height: 24px;
    width: 100%;

    gap: 10px;
    opacity: 0px;
  }
  .header-staring-mobie {
    display: block;
  }
  .header-heading {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: left;
  }
  .header-icon {
    width: 14px;
    height: 14px;
    gap: 0px;
    opacity: 0px;
  }
  .header-staring {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  /* .header-staring {
    display: block;
  } */
  .header-staring-mobie {
    display: none;
  }
}
